<!--머동머동제-->
<div class="logo_section">
  <%= image_tag "main_logo.png", :class => 'knu-img' %>
</div>
    <!-- pusher -->


<!--라인업-->
<div class="line_up_div">
  <p class="line_up">LINE - UP</p>
  <%= image_tag "mamamu.jpeg" , :class => 'mamamu-jpg' %>
</div>

<!--축제일정-->
<div class="time_table">
  <h3 style="text-align: center">축제일정</h3>
</div>



<!--축제지도-->