<!--머동머동제-->
<div class="logo_section">
  <%= image_tag "main_logo.png", :class => 'knu-img' %>
</div>
    <!-- pusher -->


<!--라인업-->
<div class="line_up_div">
  <p class="line_up">LINE - UP</p>
  <%= image_tag "bear_lineup_02.png" , :class => 'lineup-img' %>
</div>


<%= image_tag "cd_case_02.png" , :class => 'lineup-img01' %>

<!--축제일정-->
<div class="time_table">
  
  <div class="schedule-01">
    <p class="txt">DAY 01</p>
    <div class="sche-area"></div>
  </div>
  
  <div class="schedule-02">
    <p class="txt">DAY 02</p>
    <div class="sche-area"></div>
  </div>
  
  <div class="scedule-03">
    <p class="txt">DAY 03</p>
    <div class="sche-area"></div>
  </div>
</div>



<!--축제지도-->













<!--스크립트 부분-->
<script>
  $(function(){
$(window).scroll(function(){  //스크롤하면 아래 코드 실행
       var num = $(this).scrollTop();  // 스크롤값
       if( num > 747 ){  // 스크롤을 36이상 했을 때
          $(".lineup-img").css("position","fixed");
       } else if (num < 747 || num == 747){
           $(".lineup-img").css("position","static");
       }
  });
});
</script>

<script>
  $(function(){
$(window).scroll(function(){  //스크롤하면 아래 코드 실행
       var num = $(this).scrollTop();  // 스크롤값
       if( num > 1110 ){  // 스크롤을 36이상 했을 때
          $(".lineup-img01").css("position","fixed");
       } else if(num < 1100 || num == 1000){
         $(".lineup-img01").css("position" , "fixed")
       }
  });
});
</script>

