<!--머동머동제-->
<div class="logo_section">
  <%= image_tag "main_logo.png", :class => 'knu-img' %>
  <p class="logo-font" id="font-top">강원대학교</p>
  <p class="logo-font">BAAAAAAM!!</p>
</div>
    <!-- pusher -->


<!--라인업-->
<div class="line_up_div">
  <p class="line_up">LINE - UP</p>
  <%= image_tag "mamamu.jpeg" , :class => 'mamamu-jpg' %>
</div>

<!--축제일정-->
<div class="time_table">
  <div class="schedule-01">
    <p class="txt">DAY 01</p>
    <!--border로 영역 표시한 부분 sche-area-->
    <div class="sche-area"></div>
  </div>
  
  <div class="schedule-02">
    <p class="txt">DAY 02</p>
    <div class="sche-area"></div>
  </div>
  
  <div class="scedule-03">
    <p class="txt">DAY 03</p>
    <div class="sche-area"></div>
  </div>
</div>



<!--축제지도-->