<!--padding - top: 100px 을 써야합니다-->
<h1 style="text-align: center; padding-top: 100px; margin-bottom: 40px; font-size: 32px; font-weight: bold; font-family: 'BMJUA';">분실물을 찾아주세요!</h1>

<%= render 'form', lost: @lost %>

