<!-- margin-top: 120px 을 써야합니다-->
<h1 align="center" style="font-family: 'BMDOHYEON'; margin-top: 120px;"><%= link_to "분&emsp;실&emsp;물".html_safe, losts_path, style: "color: black; text-decoration: none" %></h1>

<%= render 'form', lost: @lost %>

