<p id="notice"><%= notice %></p>

<h1>Fleamarkets</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>
</table>

<% @fleamarkets.each do |x| %>
  <% if x.number == '1' %>
    <%= render 'fleamarkets/card', :x => x %>
  <% end %>
<% end %>
<br>

<% if user_signed_in? %>
  <%= link_to 'New Fleamarket', new_fleamarket_path %>
<% end %>
