
<div class="top">
  <%= image_tag "https://raw.githubusercontent.com/sangyeol-kim/knu_festival/35b988406543936177a1b3bdc898a187f1e15b03/app/assets/images/fleamarket_logo.png?token=AkDMWJQGm-yijSlIsnt2ywguSkTHNBkEks5bplUnwA%3D%3D" , :class => 'fleamarket_logo_img' %><br/>
  
  <h1 style="font-family: 'BMDOHYEON'; margin-top: 15px;">함인섭마켓</h1>
  
  <div>
    <p style="font-size: 18px; font-weight: bold; font-family: 'BMJUA'; margin-top: 20px">이용시간 : 09시 ~ 18시</p>
    <%= image_tag "new_insub_market.png", :width => '80%' %>
  </div>
</div>

  <% @fleamarkets.each do |x| %>
    <% if x.number == '1' %>
      <%= render 'fleamarkets/card', :x => x %>
    <% end %>
  <% end %>
<br>
  <% if user_signed_in? %>
    <%= link_to 'New Fleamarket', new_fleamarket_path %>
  <% end %>
