<div style="margin-top: 120px;"></div>
<h1 align="center" style="margin-bottom: 30px; font-family: 'BMDOHYEON'"><u><%= link_to "술 한잔 하쉴?", huntings_path, style: "color: black; text-decoration: none" %></u></h1>
<div class="alert alert-primary" role="alert">
    술친구 게시글 수정
</div>

<%= render 'form', hunting: @hunting %>