
<div id='btn_new'>
<%= link_to '글작성', new_hunting_path, class:"btn btn-primary" %>
</div>

<% @huntings.reverse.each do |hunting| %>
<div class="card">
    <div class="card-header">
      <%= hunting.title %>
    </div>
      <div class="card-body">
        <h5 class="card-title"><%= hunting.content %></h5>
        <p class="card-text"><%= hunting.writer %></p>
      </div>
</div>
<% end %>
