  <div id="test"></div>

<% @huntings.each do |hunting| %>
<div class="card">
    <div class="card-header">
      <%= hunting.title %>
    </div>
      <div class="card-body">
        <h5 class="card-title"><%= hunting.content %></h5>
        <p class="card-text"><%= hunting.writer %></p>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit" data-whatever="@fat">수정</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#delete" data-whatever="@fat">삭제</button>
      </div>
        
    <!-- 수정 -->
    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">수정하기</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">비밀번호:</label>
              <input type="text" class="form-control" id="recipient-name">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">확인</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  
  <!-- 삭제 -->
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New message</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Recipient:</label>
              <input type="text" class="form-control" id="recipient-name">
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Message:</label>
              <textarea class="form-control" id="message-text"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Send message</button>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<script>
      function msg_generate(data) {
      $('#test').append(`
      <div class="test" id="message${data.id}" style="display: none;position:absolute;">
        <div>${data.body}</div>    
      </div>`);
      var item = $(`#message${data.id}`);
      item.css('top',Math.round(Math.random()*700)+300);
      item.css('left',Math.round(Math.random()*500));
      item.fadeIn();
      
      setTimeout(function() {
        item.fadeOut();
      }, 4000);

    }

      var channel = pusher.subscribe('dashboard');
      channel.bind('create', function(data) {
        var msg = data.body;
        console.log(data);
        msg_generate(data);
      });
</script>
