<!-- margin-top: 120px 을 써야합니다-->
<h1 align="center" style="font-family: 'BMDOHYEON'; margin-top: 120px; margin-bottom: 30px;"><u><%= link_to "술 한잔 하쉴?", huntings_path, style: "color: black; text-decoration: none" %></u></h1>

<%= render 'form', hunting: @hunting %>