<div class="top">
  <%= image_tag "foodTruckLogo.png" , :class => 'fleamarket_logo_img' %>

<h2 style="font-family: 'BMDOHYEON'; ">미래푸드</h2>

<div>
  <p style="font-size: 15px; font-weight: bold; font-family: 'BMJUA';"></p>
  <!--<p style="font-size: 12px; font-family: 'BMJUA';">*카드번호와 부스번호를 매칭하면 위치를 알 수 있습니다!*</p>-->
</div>
</div>

<div class="container" style="text-align:center">
  <%= image_tag "future_market.png" , :class => "th_food" %>
  
  <div align="center" style="background-color: rgba(0, 0, 0, 0.67);; color:white; border-radius: 5px; padding: 10px;">각 푸드트럭 이름을 클릭해보세요!</div>
  
  <div style="text-align: center;">
    <% @foods.each do |food| %>
      <% if food.number == 3 %>
        <%= render 'foods/card', :food => food %>
      <% end %>
    <% end %>  
    <% if user_signed_in? %>
      <%= link_to 'New Food', new_food_path %>
    <% end %>
  </div>
</div>