<div class="top">
  <%= image_tag "https://raw.githubusercontent.com/sangyeol-kim/knu_festival/35b988406543936177a1b3bdc898a187f1e15b03/app/assets/images/fleamarket_logo.png?token=AkDMWJQGm-yijSlIsnt2ywguSkTHNBkEks5bplUnwA%3D%3D" , :class => 'fleamarket_logo_img' %>

  <div class="food-title">
    <h2>푸드 트럭</h2>
  </div>
  <div style="text-align: center;">
    <% @foods.each do |x| %>
      <% if x.number == '3' %>
        <%= render 'foods/card', :x => x %>
      <% end %>
    <% end %> 

    <% if user_signed_in? %>
      <%= link_to 'New Food', new_food_path %>
    <% end %>
  </div>
</div>