<div style="margin-top: 120px;"></div>
<h1 align="center" style="font-family: 'BMDOHYEON'"><u><%= link_to "푸드트럭", foods_path, style: "color: black; text-decoration: none" %></u></h1>
<%= render 'form', food: @food %>