/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap";
@font-face { font-family: 'Godo'; font-style: normal; font-weight: 400; src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff'); } @font-face { font-family: 'Godo'; font-style: normal; font-weight: 700; src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff') format('woff'); } .godo * { font-family: 'Godo', sans-serif; }

header{
    z-index: 3;
}

.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}

#top-menu > div > a {
    margin: 0 5px;
    color: white;
    text-decoration: none;
}

#top-menu > div > a:hover {
    color: white;
}
.top-menu{
    font-family:'Godo';
}
.image-section img{
    max-width : 100%;
    max-height : 100%;
}
.menu-list{
    padding-top: 10px; 
    padding-bottom: 10px;
    text-align: center;
}

//header text

.nav-link{
    color: white;
    
    padding: 0px !important;
}
.navbar-brand{
    margin: auto !important;
    text-align: center !important; 
    width: 100%;
}

.btn-custom{
    width: 100%;
}


.top-menu {
    color: white;
    text-decoration: none;
}

.top-nav{
    z-index: 10;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}