body{
    padding-top: 80px;
    width:100%;
}
//header text
#logo{
    text-transform: uppercase;
    letter-spacing: -1px;
    font-size: 1.7em;
    font-weight: bold;
    &:hover {
        color: #FFFFFF;
        text-decoration: none;
    } 
}
.nav-link{
    color: white;
    
    padding: 0px !important;
}
.navbar-brand{
    
}