// Place all the styles related to the fleamarkets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fleamarket_logo_img {
    width: 70px;
    margin-top: 30px;
}

.top {
  text-align: center;
}