// Place all the styles related to the foods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face { font-family: 'BMDOHYEON'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'YanoljaYacheR'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YanoljaYacheR.woff') format('woff'); font-weight: normal; font-style: normal; }

.food-title{
    text-align: center;
    margin: 15px auto;
    font-family: 'BMDOHYEON';
}

.food-item{
    padding: 6px !important;
    height: 70px !important;
    width: 350px;
    text-align: left !important;
}

.btn{
  max-width:19em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  border-radius: 0.8rem !important;
}

.food-icon{
    width: 50px;
    // height: 13px;
    display: inline;
    // margin: 15px 10px;
    float: left;
    margin-right:10px;
    margin-left:10px;
    margin-top: 5px;
}
.fleamarket_logo_img {
    width: 150px;
    // margin-top: 30px;
}

.th_food{
    width: 300px;
    margin-bottom: 20px;
}

.fieldmargin{
    margin-top: 70px;
}
.food-ps{
    // margin-left: 5px;
    color: grey;
    font-size:17px;
    // float:left;
}