// Place all the styles related to the foods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.food-title{
    text-align: center;
    margin: 15px auto;
}
.food-item{
    width: 100%;
    margin:5px 0;
}
.food-item > p {
    text-align: left !important;
    margin: 0;
    display: inline;
}
.food-icon {
    width: 10px;
    display: inline;
}