// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face { font-family: 'GIMJE-L'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GIMJE-L.woff') format('woff'); font-weight: normal; font-style: normal; }


// 라인 업 폰트
.line_up{
    font-family: 'GIMJE-L';
    font-style: italic;
    margin-top: 50px;
    background-color: skyblue;
    
    text-align: center;
    
}

// 라인 업 div
.line_up_div{
    margin-bottom: 600px;
    display: block;
}


.knu-img{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    top: 100px;
}

.logo_section{
    margin-top: 80px;
    text-align: center;
    background: black;
}
.mamamu-jpg{
    
}

