// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.festival_logo{
    display: block;
    text-align: center;
    min-height: 500px;
    color: white;
    background-color: black;
    
    margin-top: 100px;
}