// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face { font-family: 'GIMJE-L'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GIMJE-L.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'HangeulNuri-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/HangeulNuri-Bold.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'TmonMonsori'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff'); font-weight: normal; font-style: normal; }
@import url(//fonts.googleapis.com/earlyaccess/hanna.css); .hanna * { font-family: 'Hanna', fantasy; }
@font-face { font-family: 'Swagger'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/Swagger.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'BMDOHYEON'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff'); font-weight: normal; font-style: normal; }



// 라인 업 폰트

// 라인 업 폰트
.line_up{
    font-family: 'TmonMonsori';
    font-size: 25px;
    font-weight: bold;
    background-color: white;
    margin-bottom: 0px;
    position: sticky;
    top: 101;
    
    text-align: center;
    
}

// 라인 업 div
.line_up_div{
    display: block;
    min-height: 700px;
}


.knu-img{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

.logo_section{
    text-align: center;
    background: #d0e7ff;
    height: 100vh;
    
    z-index: -2;
}
.lineup-img{
     width: 80%;
     height: 500px;
     margin: 20px 0 20px 0;
     display: inline-block;
     margin-left: 10%;
     top: 40px;
     z-index: -4;
     
}

.lineup-img01{
     width: 80%;
     height: 500px;
     margin: 20px 0 20px 0;
     display: inline-block;
     margin-left: 10%;
     top: 40px;
     margin-top: 20px;
     z-index: -5;
}


// 축제 일정



// 강원대학교 대동제
.logo-font{
    color: white;
    font-family: 'HangeulNuri-Bold';
    font-style: italic;
    font-weight: bold;
    
    font-size: 40px;
    
}

#font-top{
    margin-top: 50px;
}

.schedule-01{
    background: #ff7146;
    min-height: 500px;
    text-align: center;
    top: 101px;
    width: 100%;
    position: sticky;
    min-height: 700px;
    
    z-index: -3;
    
    padding-top: 15%;
}

.schedule-02{
    background: #468cff;
    min-height: 500px;
    text-align: center;
    width: 100%;
    
    position: sticky;
    
    z-index: -2;
    top: 101px;
    min-height: 700px;
    
    padding-top: 15%;
}

.scedule-03{
    background: #28a745;
    min-height: 500px;
    text-align: center;
    
    top: 101px;
    width: 100%;
    position: sticky;
    z-index: -1;
    min-height: 700px;
    
    padding-top: 15%;
}

.txt{
    color: white;
    font-family: 'Swagger';
    font-size: 50px;
}

.schedule-border{
    border: 4px white solid;
    height: 80%;
    margin-left: 20px;
    margin-right: 20px;
    
    
    color: white;
    min-height: 400px;
    vertical-align: middle;
    
    font-family: 'BMDOHYEON';
    font-size: 30px;
    padding-top: 20%;
}

// DAY 03에 항목이 4개여서 폐막식이 잘 안보임
.schedule-border-03{
    border: 4px white solid;
    height: 80%;
    margin-left: 20px;
    margin-right: 20px;
    
    
    color: white;
    min-height: 400px;
    vertical-align: middle;
    
    font-family: 'BMDOHYEON';
    font-size: 30px;
    padding-top: 10%;
}


// 지도부분 
.map{
    position: sticky;
    top: 101;
    min-height: 700px;
    background: white;
}
.map-section{
    background: white;
    margin-top: 45%;
}

.map-knu{
    display: contain;
    width: 100%;
}

.map-txt{
    text-align: center;
    font-size: 25px;
    color: white;
    background: gray;
    font-family: 'HangeulNuri-Bold';
}

// 로고 위에 떠 있는 구름
.clouds-img{
    position: absolute;
    top: 85px;
    left: 0px;
    height: 667px;
    
    // z-index: -1;
}


// 개발자 소개 부분
.developer{
    background: black;
    color: white;
    min-height: 1000px;

    position: sticky;
    top: 0px;
    
    font-size: 30px;
    text-align: center;
    z-index: 2;
}

.developer-title{
    border-bottom: 2px gray solid;
    padding-bottom: 5px;
    font-family: 'TmonMonsori'
}

