// Place all the styles related to the huntings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "bootstrap";

#btn_new {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}