// Place all the styles related to the losts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#losttitle{
    font-size: 25px;
    text-align: center !important;
    display: block;
    margin-top: 20px;
}

.title-section{
    text-align: center !important;
    display: block;
    border-bottom: 2px solid black;
}
.content-section{
    text-align: center!important;
    display: block;
}

.form-section{
    margin-top: 100px;
    border: 2px solid black;
}

.hunting_img {
    width: 70px;
    margin-top: 30px;
}