<p id="notice"><%= notice %></p>

<h1>Pubs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<%= render 'pubs/card', :@pubs => @pubs %>

</table>

<br>

<%= link_to 'New Pub', new_pub_path %>
